 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}
:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight:600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.hero-section{
    text-align: center;
    letter-spacing: 0.06px;
    line-height: 1em;
    margin: 5%;
    padding: 5%;
}

.hero-section, d-md-block ml-1, h3,.h6{
    margin: 2%;
    padding: 2%;
}

.h6{
    color: #888888;
}

.hero {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    font-weight: 800;
    font-size: 8.9rem;  
    font-family:'Lato', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
    
} 

.container-md{
    font-weight: 800;
    font-size: 2.5rem;  
    font-family:'Lato', sans-serif;
    color: #D9ACF4;
}

/* button  */

/* .d-grid gap-2 d-md-block{
     
}

.ml-1 {
    margin-left: ($spacer * .25) !important;
  }

  .b1{
    color: white;
    text-decoration: none;
  } */


  /* offering  */

  /* .card{
    display: flex;
     
    border: 1px solid #c9c9c9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }


  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }



  .h4{
    margin: 2.5%;
    padding: 2.5%;
  }
  */

  /* .program{ */
    /* margin-bottom: 20px; */
    /* width:100%; */
    /* height: auto; */
  /* } */



  /* photo gallery  */

  /* .re-img{
    height: 450;
    width: 340;
  } */


   /* .nbutton a{ */
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-right: 5px;
    margin-left: 5px;
  }  */


  /* .clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 5%;
    padding: 5%;
    margin-bottom: 50px;
  } */


  /* events gallery */

  /* .events{
    margin-bottom: 10%;
  }

  p3,p4,p5,p6{
    margin: 5%;
    padding: 5%;
  }  */



  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* background-color: wheat; */
    color: white;
  }

  header{
    margin-bottom: 200px;
  }